<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"  
  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <th:block th:fragment="stylesAndScripts">
      <meta charset="UTF-8" />  
      <link rel="icon" type="image/png" href="/img/logo.png"/>

      <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
      <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-bs4.min.css">
      <link rel="stylesheet" type="text/css" href="/styles/common.css"/>
      
      <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
      <script th:src="@{/webjars/jquery-ui/jquery-ui.min.js}"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
      <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
      <script th:src="@{https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-bs4.min.js}"></script>
      <script th:src="@{/scripts/common.js}" defer></script>
</head>

<body>
  <header class="p-3 bg-dark text-white" style="background-color: rgb(33, 37, 41) !important" th:fragment="navbar">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
       
        <a class="navbar-brand" href="/" style="color:#23a3ff;">
          <img src="../img/Icon.png" width="35" height="30"  class="d-inline-block align-top" alt="">YouNote
        </a>
        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li class="nav-item">
            <a class="nav-link px-2 text-secondary" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link px-2 text-white" href="/take-notes">Take Notes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link px-2 text-white" href="/tutorial">Tutorial</a>
          </li>
          <li class="nav-item" sec:authorize="hasRole('ROLE_ADMIN')">
            <a class="nav-link px-2 text-white" href="/admin">Admin Dashboard</a>
          </li>
          <li class="nav-item" sec:authorize="isAuthenticated()">
            <a class="nav-link px-2 text-white" href="/userPage">User Dashboard</a>
          </li>

        </ul>

        <div class="text-end ml-auto" sec:authorize="!isAuthenticated()">
          <a role="button" href="/login" class="btn btn-outline-light me-2">Login</a>
          <a role="button" href="/signup" class="btn btn-warning">Sign-up</a>
        </div>
        
        <div class="dropdown text-end ml-auto" sec:authorize="isAuthenticated()">
          <a href="#" class="d-block link-light text-decoration-none dropdown-toggle" id="dropdownUser1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img src="https://icons.iconarchive.com/icons/papirus-team/papirus-status/512/avatar-default-icon.png" alt="mdo" width="42" height="42" class="rounded-circle">
          </a>
          <ul class="dropdown-menu dropdown-menu-right text-small" aria-labelledby="dropdownUser1">
            <li><a class="dropdown-item" href="/logout">Sign out</a></li>
          </ul>
        </div>

      </div>
    </div>
  </header>

  <footer class="footer bg-dark text-center text-white " style="background-color: rgb(33, 37, 41) !important" th:fragment="foot" >
    <div class="container p-4">
      <section class="">
        <div class="row">
          <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
            <h5 class="text">Website Links</h5>
            <ul class="list-unstyled mb-0">
              <li>
                <a href="index" class="text-white">Home</a>
              </li>
              <li>
                <a href="take-notes" class="text-white">Take Notes</a>
              </li>
              <li>
                <a href="tutorial" class="text-white">Tutorial</a>
              </li>
              <li>
                <a href="feedback" class="text-white">Feedback</a>
              </li>
            </ul>
          </div>

          <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
            
            <!-- <div sec:authorize="!isAuthenticated()">
              <h5 class="text">Start using YouNote</h5>
              <ul class="list-unstyled mb-0">
                <li>
                  <a href="login" class="text-white">Log In</a>
                </li>
                <li>
                  <a href="signup" class="text-white">Sign Up</a>
                </li>
              </ul>
            </div> -->
          </div>
      
          <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
            <a class="navbar-brand" href="/" style="color:#23a3ff;">
              <img src="../img/Icon.png" width="35" height="30"  class="d-inline-block align-top" alt="">YouNote
            </a>
            <br> <p>YouNote is a web application that enables its users to take and save notes on YouTube videos, where each note is associated with a timestamp in the video.</p>
          </div>
        </div>
      </section>
    </div>
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2021 Copyright:
      <a class="text-white" style="text-align:center;" href="https://cmpt276-project-2.herokuapp.com/">https://cmpt276-project-2.herokuapp.com/</a>
      - All Rights Reserved
    </div>
  </footer>
</body>
</html>