<!doctype html>
<head th:fragment="common&bootstrap">
    <meta charset="UTF-8" />
    <link rel="icon" type="image/png" href="/img/logo.png"/>
    <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/styles/common.css"/>
    <script th:src="@{/webjars/jquery/jquery.min.js}" defer></script>
    <script th:src="@{/webjars/jquery-ui/jquery-ui.min.js}" defer></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}" defer></script>
    <script th:src="@{/scripts/common.js}" defer></script>
</head>

<body>
    <nav class="navbar navbar-default navbar-static-top navbar-inverse" th:fragment="navbar">
        <div class="container">
            <ul class="nav navbar-nav">
                <li class="active">
                    <a href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Welcome Guest <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="notes">View Notes</a></li>
                        <li class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="login">Login</a></li>
                        <li><a class="dropdown-item" href="signup">Sign Up</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</body>