<!DOCTYPE html>
<html lang="en">
  <head>
    <title>YouNote Notes</title>
    <th:block th:replace="fragments/common :: stylesAndScripts"></th:block>
  </head>
  <body class="text">
    <nav th:replace="fragments/common :: navbar"></nav>
    <div style=" margin: auto; max-width: 750px; text-align: center; height: 500px; color: white">
      <br> <h1 class="comment">User Feedback</h1>
      <form action="/index">
        <p>Your feedback will help us improve YouNote and provide users with the best note-taking experience.</p>
        <p>Please enter your first and last name.</p>
        <input type="text" name="fname" placeholder="first name"><br>
        <input type="text" name="lname" placeholder="last name"><br>
      
       <br> <p> If you have any suggestions, please type them below:</p>
      
    
        <textarea class="form-control" ></textarea>
        <br>
       <form action="/index"><input class="button" type = "submit" value="Submit Feedback & return to Home"></form>
      </form>
    </div>
    <footer th:replace="fragments/common :: foot"></footer> 
  </body>
</html>