<!DOCTYPE html>
<html>

  <head>
    <title>YouNote Home</title>
    <th:block th:replace="fragments/common :: stylesAndScripts"></th:block>
  </head>
  

  <body class="text text-center">
  
    <nav th:replace="fragments/common :: navbar"></nav>

    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column vertical-center">
      
      <header class="masthead mb-auto">
        <div class="inner">
        </div>
      </header>

      <main role="main" class="inner cover">
        <h1 class="cover-heading">YouNote</h1>
        <p class="lead">YouNote is a web app allowing for a seamless integration between note-taking and watching YouTube videos.<br>
        You can take, view, edit, and share notes online anytime for free.
        </p>
        <p class="lead">
          <a href="/login" class="btn btn-lg btn-secondary">Login</a>
          <a href="/signup" class="btn btn-lg btn-secondary">Sign up</a>
        </p>
      </main>
    </div>

    <footer th:replace="fragments/common :: foot"></footer> 
  </body>
</html>
