<!DOCTYPE html>
<html>

  <head>
    <title>YouNote</title>
    <th:block th:replace="fragments/common :: stylesAndScripts"></th:block>
  </head>
  

  <body class="text">
  
    <nav th:replace="fragments/common :: navbar"></nav>
    <h3> Main page under development </h3>
    <br>
    <h5><a href="notes">Please login to visit our "Take Notes" feature page <br></a></h5>
    <p> OR, </p>
    <br>
    <h5><a href="test"> Visit "Test" to try app's features as a guest </a></h5>
    <footer th:replace="fragments/common :: foot"></footer> 
    
  </body>

</html>
