<!DOCTYPE html>
<html>

<head>
  <title>YouNote Login</title>
  <th:block th:replace="fragments/common :: stylesAndScripts"></th:block>
</head>

<body>
  <nav th:replace="fragments/common :: navbar"></nav>

  <main>
    <div class= "signup">
      <div class="form-signin">
        <h1 class="h3 mb-3 fw-normal text-white text-center">Login</h1>
        <form method="post" th:action="@{/login}">
          <div class="form-group form-floating">
            <label class="text-white" for="newemail">Email address</label>
            <input type="email" class="form-control" id="email" name="username"  required placeholder="name@example.com">
          </div>

          <div class="form-group form-floating">
            <label class="text-white" for="newpassword">Password</label>
            <input type="password" class="form-control" id="password" name="password"  required placeholder="Password">
          </div>

          <button class="w-100 btn btn-primary" id="button" value="Create my account" type="submit">Login</button>
        </form>
      </div>
    </div>
  </main>

  <footer th:replace="fragments/common :: foot"></footer> 
</body>
</html>
