<!DOCTYPE html>
<html>

<head>
  <title>YouNote Login</title>
  <th:block th:replace="fragments/common :: stylesAndScripts"></th:block>
</head>

<body>
  <nav th:replace="fragments/common :: navbar"></nav>
  <!-- <img src="../img/logo.png" alt="logo" class="logo" height="80px" width="300px"> -->
  <div class="contentstyle">

  <div style="background-color: #FF8B80; margin: auto; max-width: 500px; text-align: center; background-clip: content-box; border-radius: 150px / 55px; height: 250px;">
    <h1 style="padding-top: 30px;">Log In</h1>
    <form method="post" th:action="@{/login}">
      <input class = "inputtype" type="text" id="email" name="username" placeholder="enter email"> <br>
      <input class = "inputtype" type="password" id="password" name="password" placeholder="password"> <br>
      <input class = "inputtype" type="submit" id="button" value="Log In" style="margin-top: 10px">
    </form>
    <br>
    <form action="/signup">Don't have an account yet? <input type = "submit" value="Sign Up"><br></form>
  </div>
  </div>
  <footer th:replace="fragments/common :: foot"></footer> 
</body>

</html>
