<!DOCTYPE html>
<html>

<head>
  <title>YouNote Sign-Up Page</title>
  <th:block th:replace="fragments/common :: stylesAndScripts"></th:block>
</head>

<body>
  <nav th:replace="fragments/common :: navbar"></nav>

  <main>
    <div class= "signup">
      <div class="form-signin" >
        <a class="navbar-brand" href="" style="color:#23a3ff;">
          <img src="../img/Icon.png" width="35" height="30"  class="d-inline-block align-top" alt="">YouNote
        </a>
        <h1 class="h3 mb-3 fw-normal text-white text-center">Create your account</h1>
        <form action="#" method="post" th:action="@{/user}" th:object="${user}">
          <div class="form-group form-floating">
            <label class="text-white" for="fname">First name</label>
            <input type="text" class="form-control" id="newfname" th:field=*{fname} required placeholder="Enter your first name">
          </div>

          <div class="form-group form-floating">
            <label class="text-white" for="lname">Last name</label>
            <input type="text" class="form-control" id="newlname" th:field=*{lname} required placeholder="Enter your last name">
          </div>

          <div class="form-group form-floating">
            <label class="text-white" for="newemail">Email address</label>
            <input type="email" class="form-control" id="newemail" th:field=*{email} required placeholder="name@example.com">
          </div>

          <div class="form-group form-floating">
            <label class="text-white" for="newpassword">Password</label>
            <input type="password" class="form-control" id="newpassword" th:field=*{password} required placeholder="Password">
          </div>

          <button class="w-100 btn btn-lg btn-primary " id="newbutton" value="Create my account" type="submit">Sign up</button>
        </form>
      </div>
    </div>
  </main>

  <footer th:replace="fragments/common :: foot"></footer> 
</body>
</html>


