<html>
  <head>
      <title>Test YouTube API</title>
      <th:block th:replace="fragments/common :: stylesAndScripts"></th:block>
      <script th:src="@{/scripts/test.js}" defer></script>

      
  </head>
  <body>
  
      <nav th:replace="fragments/common :: navbar"></nav>
      <main>
        <br><br>
      <div class="container">
        <form action="#" method="post"  th:object="${note}">  
          <div class="row" style="max-width: min-content;">
              <div class="col-md-6 col-sm-6" style="padding-left: 5rem;" >
                
                <div id="player" ></div>

                <div class="input-group sm-3" style="width:725; position: relative; top:25px;">
                  <input type="text" id="input_field" class="form-control"  placeholder="Enter a YouTube video URL to load video" style="margin-right:12px"></input>
                  <div class="input-group-append" >
                    <button onclick="loadVideo2()" class="btn btn-primary"  type="button">Load Video</button>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-sm-6" style="position:relative;  left:450px;">
                <div id="summernote"></div>
                <div class="input-group sm-3" style="width:725; position: relative; top:25px;">
                  <input type="text" class="form-control"  placeholder="This page is for concept demonstration only, notes cannot be saved" style="margin-right:12px"></input>
                  <div class="input-group-append" >
                    <button href="/take_notes" class="btn btn-primary" type="submit" sec:authorize="isAuthenticated()">Go to Take Notes page</button>
                    <button href="/login" class="btn btn-primary" sec:authorize="!isAuthenticated()">Login to Save Notes</button>
                  </div>
                </div>
               
                </div>
          
              </div>
          </div>
        </form>
      </div>
      <div id="player">
      <br><br><br><br>
    </main>
    <footer th:replace="fragments/common :: foot"></footer> 
      <!-- <footer class="footer bg-dark text-center text-white " style="background-color: rgb(33, 37, 41)">
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
          © 2021 Copyright:
          <a class="text-white" style="text-align:center;" href="https://cmpt276-project-2.herokuapp.com/">https://cmpt276-project-2.herokuapp.com/</a>
          - All Rights Reserved
        </div>
      </footer> -->
      <script type="text/javascript">
        var tag = document.createElement('script');
        tag.id = 'iframe-demo';
        tag.src = 'https://www.youtube.com/iframe_api';
        var firstScriptTag = document.getElementsByTagName('script')[0];
        firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
      
        var player;
        function onYouTubeIframeAPIReady() {
          player = new YT.Player('frameAPI', {
      
              events: {
                'onReady': onPlayerReady,
                'onStateChange': onPlayerStateChange
              }
          });
        }
        function onPlayerReady(event) {
          document.getElementById('frameAPI').style.borderColor = '#FF6D00';
        }
        function changeBorderColor(playerStatus) {
          var color;
          if (playerStatus == -1) {
            color = "#969695"; // unstarted = gray
          } else if (playerStatus == 0) {
            color = "#969695"; // ended = yellow
          } else if (playerStatus == 1) {
            color = "#3EF80B"; // playing = green
          } else if (playerStatus == 2) {
            color = "F8350B"; // paused = red
          } else if (playerStatus == 3) {
            color = "#AA00FF"; // buffering = purple
          }
          if (color) {
            document.getElementById('yt').style.borderColor = color;
          }
        }
        function onPlayerStateChange(event) {
          changeBorderColor(event.data);
        }
      </script>
  </body>
  </html>