<html>
  <head>
      <title>Test Page</title>
      <th:block th:replace="fragments/common :: stylesAndScripts"></th:block>
      <script th:src="@{/scripts/test.js}" defer></script>

      
  </head>
  <body>
  
      <nav th:replace="fragments/common :: navbar"></nav>
     
      <main>
        <br><br>
      <div class="container">
        <form action="#" method="post"  th:object="${note}">  
          <div class="row" style="max-width: min-content;">
              <div class="col-md-6 col-sm-6" style="padding-left: 5rem;" >
                <iframe  
                width="725" 
                height="595" 
                id="getvideo" 
                title="YouTube video player" 
                
                frameborder="0" 
                style="border: solid 4px #23a3ff"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope;" 
                >
              </iframe>
              
                <div class="input-group sm-3" style="width:725; position: relative; top:25px;">
                  <input type="text" id="input_field" class="form-control"  placeholder="Enter a YouTube video URL to load video" style="margin-right:12px"></input>
                  <div class="input-group-append" >
                    <button onclick="loadVideo()" class="btn btn-primary"  type="button">Load Video</button>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-sm-6" style="position:relative;  left:450px;">
                <div id="summernote"></div>
                <div class="input-group sm-3" style="width:725; position: relative; top:25px;">
                  <input type="text" class="form-control"  placeholder="This page is for concept demonstration only, notes cannot be saved" style="margin-right:12px"></input>
                  <div class="input-group-append" >
                    <button href="/take_notes" class="btn btn-primary" type="button" sec:authorize="isAuthenticated()">Go to Take Notes page</button>
                    <button href="/login" type="button" class="btn btn-primary" sec:authorize="!isAuthenticated()">Login to Save Notes</button>
                  </div>
                </div>
               
                </div>
                
              </div>
          </div>
        </form>
      </div>
      <br><br><br><br>
    </main>
    <footer th:replace="fragments/common :: foot"></footer> 
      <!-- <footer class="footer bg-dark text-center text-white " style="background-color: rgb(33, 37, 41)">
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
          © 2021 Copyright:
          <a class="text-white" style="text-align:center;" href="https://cmpt276-project-2.herokuapp.com/">https://cmpt276-project-2.herokuapp.com/</a>
          - All Rights Reserved
        </div>
      </footer> -->
  
  </body>
  </html>