<!DOCTYPE html>
<html>

<head>
  <title>YouNote Notes</title>
  <th:block th:replace="fragments/common :: stylesAndScripts"></th:block>
</head>

<body class="text">
  <nav th:replace="fragments/common :: navbar"></nav>
  <h2 >Tutorial</h2>
  <h4 >Click on the "Welcome Guest" dropdown menu to show 3 options:</h4>
  <ul >  
    <li>Login: login into an account.</li>
    <li>Sign Up: sign up for an account.</li>
    <li>Feedback: provide feedback on your experience with the app.</li>
  </ul>
  <h4 >The left side of the navigation bar contains 4 links other than the tutorial:</h4>
  <ul >
    <li>Home: contains a search bar to find a YouTube video.</li>
    <li>View Notes: view, edit, and share your saved notes.</li>
    <li>Upcoming Features: list some features we will implement for iteration 2 and 3.</li>
    <li>Test: shows a sample page with a search box to embed a YouTube URL and input to write notes.</li>
  </ul>
  <h4 >Most website links are provided at the bottom of the page for convenience.</h4>
  <footer th:replace="fragments/common :: foot"></footer> 
</body>

</html>