<!DOCTYPE html>
<html>

<head>
  <title>YouNote Notes</title>
  <th:block th:replace="fragments/common :: stylesAndScripts"></th:block>
</head>

<body class="text">
  <nav th:replace="fragments/common :: navbar"></nav>
  <h2 class="tutorial"> Tutorial </h2>
  <h4 class= "info"> -> On main page Go to Top right Corner where it says Welcome Guest:</h4>
  <ul class="list"> You will have three Options:
  <li> Login : To login into the account </li>
  <li> SignUp:  To signup if you are first time user </li>
  <li> Feedback: To provide a feedback</li>
 </ul>
  <h4 class= "info"> -> On the Top Left Corner their is a Navigation Bar with different Link Provided:</h4>
  <ul class="list"> You have four other Options than tutorial:
    <li> Home :which shows the searchbox to enter the url of the video and a texbox provide to take the notes </li>
    <li> ViewNotes: Where you can view your notes</li>
    <li> Upcoming Features </li>
    <li> Test: Where you could test the website</li>
   </ul>
  <h4 class= "info"> -> All Website Links are provided in the bottom left corner for your convenience.</h4>
  <footer th:replace="fragments/common :: foot"></footer> 
</body>

</html>