<!DOCTYPE html>
<html>

<head>
  <title>YouNote Notes</title>
  <th:block th:replace="fragments/common :: stylesAndScripts"></th:block>
</head>

<body class="text">
  <nav th:replace="fragments/common :: navbar"></nav>

  <main>
    <h2 >Tutorial</h2>
    <h4 >The Right side of the navigation bar contains 2 links:</h4>
    <ul>  
      <li>Login: login into an account.</li>
      <li>Sign Up: sign up for an account.</li>
    </ul>
    <h4 >The left side of the navigation bar contains 2 links other than the tutorial:</h4>
    <ul >
      <li>Home: contains two options: 1) Login to visit take notes  2) Visit Test to try features as guest.</li>
      <li>Take Notes: view, edit, and share your saved notes.</li>
    </ul>
    <h4 >Most website links are provided at the bottom of the page for convenience.</h4>
  </main>

  <footer th:replace="fragments/common :: foot"></footer> 
</body>
</html>