<!DOCTYPE html>
<html>
  
<head>
  <title>User Dashboard</title>
  <th:block th:replace="fragments/common :: stylesAndScripts"></th:block>
</head>

<body class = "text" th:object="${user}">

  <nav th:replace="fragments/common :: navbar"></nav>
  <main>
  <div class="contentstyle">
  <div class="container">
    <div class="alert alert-warning" role="alert">
      This page is currently only used to delete your account
    </div>
   <h2>Delete Your Account</h2>
                <form action = "#" method="post" th:action="@{/delete_own_account}">
                    <p>Type DELETE here if you are you sure that you want to delete your account</p>
                    <input type="text" id="deleteBox" style="color: black; "><br>
                    <p></p>
                    <input type="submit" value="Delete" onclick="return deleteUserAccount()" style="color: black"/><br>
                </form>
      </div>
      
  </div>
  </div>
</main>
<br>
<footer th:replace="fragments/common :: foot"></footer> 
</body>

</html>
