<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>View Notes</title>
    <th:block th:replace="fragments/common :: stylesAndScripts"></th:block>
</head>
<body class = "text" th:object="${noteList}">
    <nav th:replace="fragments/common :: navbar"></nav>

    <main>
        <div class="container">
            <h1>View Saved Notes</h1>
            <table class="table table-dark">
                <thead>
                <tr>
                    <th scope="col">Note ID</th>
                    <th scope="col">Title</th>
                    <th scope="col">Video ID</th>
                    <th scope="col">Date Created</th>
                    <th scope="col">Content</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each = "note : ${noteList}">
                    <td th:text="${note.id}"></td>
                    <td th:text="${note.title}"></td>
                    <td th:text="${note.videoId}"></td>
                    <td th:text="${#temporals.format(note.dateCreated, 'MMM dd, yyyy')}"></td>
                    <td th:text="${note.content}"></td>
                    <td>
                        <form action="#" method="post" th:action="@{'/delete_own_note/' + ${note.id}}">
                            <input type="submit" value="Delete" style="color: black"/>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
    </main>
    <footer th:replace="fragments/common :: foot"></footer>
</body>
</html>