/* CSS styles common to all HTML files */

/* Test to see CSS is working properly */

#footerid{
    background: black;
    color:white; 
    position:fixed; 
    left:0; 
    bottom:0; 
    width:100%;
}
